@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.ttf');
}

body {
    font-family: 'Bellota-BoldItalic';
    background-image: url("../images/piano2.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.form-section {
    flex: 1;
    padding: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.form-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.form-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #bbb;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    width: 100%;
    margin-bottom: 15px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.tab:hover {
    background-color: #444;
}

.tab.active {
    background-color: #e63946;
    color: white;
}

.user-form {
    display: none;
    flex-direction: column;
    width: 100%;
}

.user-form.active {
    display: flex;
}

.user-form input,
.user-form button {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.user-form input::placeholder {
    color: #aaa;
}

.user-form button {
    background-color: #e63946;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-form button:hover {
    background-color: #ff4d6d;
}

.user-form .additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.user-form .additional-options a {
    color: #e63946;
    text-decoration: none;
}

.user-form .additional-options a:hover {
    text-decoration: underline;
}